# Node modules
node_modules/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native build
android/.gradle/
android/app/build/
ios/build/
ios/Pods/

# Misc
*.lock
*.log

# Environment
.env
.env.*

# Expo
.expo/
.expo-shared/

# IDEs
.vscode/
.idea/
*.sw?